.navbar {
    background-color: rgba(180, 180, 187, 0.322);
}

.nav-link:hover {
    color: var(--primary-color) !important;
    font-weight: bold;
}

button {
    background-color: var(--primary-color);

}

button:hover {
    color: var(--primary-color) !important;
    background-color: transparent;
    border: 0.2rem solid var(--primary-color)!important;
}

.navbar {
    animation: PushDown 2.5s ease-in-out forwards;
}

@keyframes PushDown {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
@media (max-width:425px) {
    .navbar{
        border-radius: 0% !important;
    }
    .navbar-toggler{
        margin-left: 0px !important;
    }
    nav{
        padding-left: 1rem !important;
    }
    .ReBTN{
        background-color: transparent !important;
        padding: 0% !important;
    } 
}