<nav class="navbar navbar-expand-md fixed-top  m-4 rounded-pill ps-5 ">
  <button class="navbar-toggler ms-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button> 
   <a class="navbar-brand  d-md-block d-none " href="#"> <img src="/SavoraLogo.svg" alt="Savora Logo" width="120rem"></a>

  <div class="collapse navbar-collapse "  id="navbarNav">
    
    <ul class="navbar-nav mx-0 mx-md-auto">
      <li class="nav-item ">
        <a class="nav-link text-light" routerLink='Products' routerLinkActive="active-link">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light " routerLink='Best Seller' routerLinkActive="active-link">Menu</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link text-light" routerLink="Categories" routerLinkActive="active-link">Reviews </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link text-light" routerLink="Favorites" routerLinkActive="active-link">About Us</a>
      </li>
    
    </ul>
    <button class="ReBTN me-3 p-2 px-3 border-0 rounded-pill text-light ms-md-0 ms-auto">Reserve a Table</button>
  </div>
 
</nav>

