<app-header></app-header>
<div class=" home d-flex justify-content-center align-items-center fs-5 opacity-75">
    <div class=" text-light mb-5 ">
        <h1 class="text-center">Welcome To <span> SAVORA</span> </h1>
        <h3 class="ps-5  text-center opacity-75">A Bite of Happiness!</h3>
        <p class="text-center opacity-50  fw-bold lh-lg">At Savora, we don’t just serve food ... we turn simple meals
            into happy memories.<br>we mix flavors, fun, and a sprinkle of joy.</p>
    </div>
</div>
