<div class=" story text-light pt-5">
 
<h3 class="pb-3 fs-1 text-center">Our Story</h3>
    <p class="fs-5">
        Founded in 2021 by a group of food-loving friends, Flavors & Fire was born out of a shared dream—to create a
        place where people could gather and enjoy bold, unforgettable flavors in a cozy, welcoming atmosphere.
        
        Our journey began in a small kitchen with a big vision: to serve food that combines classic comfort with
        creative twists. Inspired by global cuisines and local ingredients, our chefs crafted a menu that brings
        together tradition and innovation.</p>
</div>