:root{
    --primary-color:#7698bd;
    --secandary-color: #ffe4c4;
    
}
body{
   background-image: url('../src/assets/HomeBackground.jpg');
     filter: brightness(100%);

    background-repeat: no-repeat;
    background-size: cover;
}
